body {
    background-color: rgb(255, 113, 113);
  }
  
  h1 {
    color: rgb(255, 0, 0);
    text-align: center;
  }

  h2 {
    color: rgb(76, 0, 255);
    text-align: center;
  }

  footer {
    color: rgb(255, 251, 0);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    text-align: center;
    font-size: 20px;
  }